<p>Welcome, <%= current_user.name %>!</p>
<p><%= link_to "Add a Room",   managerooms_path(@current_user) %></p>
<p><%= link_to "View/Book Rooms",   managerooms_path(@current_user) %></p>
<p><%= link_to "Edit Reservation",   managerooms_path(@current_user) %></p>
<p><%= link_to "Booking History",   managerooms_path(@current_user) %></p>
<p><%= link_to "Room Reservation",   managerooms_path(@current_user) %></p>
