<p>Welcome, <%= current_user.name %>!</p>
<p><%= link_to "Edit Profile Details", userdetails_path(@current_user) %></p>
<% if current_user.kind == 'admin' || current_user.kind == 'super-admin' %>
    <p><%= link_to "Manage Admins", manageadmin_path(@current_user) %></p>
    <p><%= link_to "Manage Rooms", manageroom_path(@current_user) %></p>
    <p><%= link_to "Manage Library Member", manageuser_path(@current_user) %></p>

<% end %>

<p><%= link_to "Reserve a room", rooms_reserveroom_path %></p>

<% if current_user.kind == 'user' || current_user.kind == 'super-user' %>
    <p><%= link_to "Release Room", roomreservation_path(@current_user) %></p>
    <p><%= link_to "View Booking History", showuserhistory_path(@current_user) %></p>
<% end %>



