<% provide(:title, 'Edit Room Details') %>
<h1>Edit Room Details</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@room) do |f| %>
        <%= render 'rooms/error_messages' %>

        <%= f.label "Room no" %>
        <%= f.text_field :room_no, class: 'form-control' %>

        <%= f.label :size %>
        <%= f.select :size, options_for_select([["Small - 4 chairs","small"],["Medium - 6 chairs","medium"],["Large - 12 chairs","large"]]) %>

        <%= f.label :building %>
        <%= f.select :building,  options_for_select([["D.H Hill","hill"],["James B. Hunt","hunt"]]) %>

        <%= f.hidden_field :status, :value => 'Available' %>
        <br>
        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<%= link_to 'Back', rooms_show_path %>
