<p>Welcome, <%= current_user.name %>!</p>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
<%if @bookings !=nil%>
<table style="width:100%">
    <caption>Reservation Details</caption>
  <tr>
    <th>Room No</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Building</th>
    <th>Size</th>
    <th>Action</th>
  </tr>
  <% @bookings.each do |b| %>
      <tr>
        <td><%= b.room_no %></td>
        <td><%= b.start_time %></td>
        <td><%= b.end_time %></td>
        <td><%= b.building %></td>
        <td><%= b.size %></td>
        <td><%= link_to 'Cancel', b, method: :delete %></td>
      </tr>
  <% end %>
</table>
    <%else%>
    <p>No Reservation Made.</p>
<% end %>