<p>Welcome, <%= current_user.name %>!</p>

<h1>Reservation History</h1>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
<% if @booking_histories !=nil %>
    <table style="width:100%">
      <tr>
        <th>Room No</th>
        <th>Start Time</th>
        <th>Building</th>
        <th>Size</th>
        <th>Date</th>
      </tr>
      <% @booking_histories.each do |b| %>
          <% if b.isCancelled != "true" && b.booking_date<=Date.current() %>
              <% temp= Time.now %>
              <tr>
                <td><%= b.room_no %></td>
                <td><%= b.startime %></td>
                <td><%= b.building %></td>
                <td><%= b.size %></td>
                <td><%= b.booking_date %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
<% else %>
    <p>No Reservation Made.</p>
<% end %>